---
layout: index
title: Sidney Burks - Contact Me
twitter_url: https://twitter.com/sid137
linked_in_url: http://www.linkedin.com/in/sid137
google_plus_url: http://plus.google.com/105375603751571213131/about
github_url: https://github.com/sid137
stack_overflow_url: http://stackoverflow.com/users/262972/noli
---
<div class="row">
  <div class="span12">
    <div class="span3">
      <div class="row">
          <h3>Connect With Me</h3>
          <ul class="nav nav-vertical">
            <li><a target="_blank" href="{{ page.google_plus_url }}">Google +</a></li>
            <li><a target="_blank" href="{{ page.twitter_url }}">Twitter</a></li>
            <li><a target="_blank" href="{{ page.linked_in_url }}">Linked In</a></li>
            <li><a target="_blank" href="{{ page.github_url }}">Github</a></li>
            <li><a target="_blank" href="{{ page.stack_overflow_url }}">Stack Overflow</a></li>
          </ul>
      </div>
    </div>
    <div class="span8">
      {% include contact_form.html %}
    </div>
  </div>
</div>
