<script type="text/ng-template" id="about.html">
  <div class="row">
    <div class="span12">
      <h2>About Me</h2>
      <div class="row">
        <div class="span4">
          <p>
            Is currently working as a technology consultant, in web and mobile
            projects involving Ruby on Rails, and Asterisk PBX.
          </p>
          <p>
            He has consulted for several early-stage startups in Silicon
            Valley, and in Paris, France - both for technological development,
            and architectural planning.
          </p>
        </div>
        <div class="span4">
          <p>
            He studied Physics and Math as an undergrad at MIT, and then
            research in the Cognitive Neuroscience lab of Yuhong Jiang at
            Harvard University.
          </p>
            
          <p>
            He then moved to Paris, France, there obtaining a 
            PhD in Quantum Optics from the University of Paris VI,  
            as well as a Diplome d'Ingenieur, from the Ecole des Mines de Paris.
          </p>
        </div>
        <div class="span4">
          <p>
            <img src="img/sidney.burks.bio.jpg" class="thumbnail" alt="About Me">
          </p>
        </div>
      </div>
    </div>
  </div>
</script>
