<form method="post">
  <fieldset>
    <div class="clearfix">	
      <label>Your Name:</label>
      <input tabindex="1" name="name" type="text" class="span5">	
    </div>
    <div class="clearfix">
      <label>Your Email:</label>
      <input tabindex="2" name="email" type="text" class="span5"> 
    </div>
    <div class="clearfix">
      <label>Your Website:</label>
      <input tabindex="3" name="url" value="http://" placeholder="http://" class="span5" type="text">
    </div>
    <div class="clearfix">
      <label>Your Comment:</label>
      <textarea name="comment" rows="8" tabindex="5" class="span5 input-xlarge"></textarea>
    </div>
    <input name="submit" tabindex="5" type="submit" value="Post Comment" class="btn btn-inverse btn-large">
  </fieldset>
</form>
